body {
  background-color: black;
  color: white;
  font-family: Helvetica, sans-serif;
}

div {
  border: thin solid red;
  margin: auto;
}

h1, h2, h3 {
  text-align: center;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 70px;
  top: 0;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

a {
  color: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container {
  height: 100%;
  position: relative;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.box {
  background-color: black;
  border:1px solid seashell;
  position: relative;
  width: 1000px;
  height: 200px;
  padding: 10px;
}

.featured_tea {
  width: 1000px;
  align-content: space-around;
}

.featured_tea img {
  width: 300px;
}

.tea_list {
  display: flex;
  flex-wrap: wrap;
}

.tea {
  width: 300px;
  margin: auto;
}

.locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.margin-box {
  background-color: black;
  border:1px solid seashell;
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto 10px;
  padding: 10px;
}

#background-image {
  background-repeat: no-repeat;
  width: 1000px;
  height: 600px;
  display: flex;
  margin: auto;
}
