body {
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
}

div {
    margin: auto;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 70px;
  top: 0;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

nav span {
  margin-right: 20px;

}

nav a {
  color: white;
  font-size: 22px;
}

footer {
font-weight: bold;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container {
  height: 100%;
  position: relative;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.box {
  background-color: black;
  position: relative;
  width: 1000px;
  padding: 10px;
}

.tea_list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.tea {
  width: 300px;
}

.margin-box {
  background-color: black;
  position: relative;
  width: 300px;
  height: 200px;
  margin: auto 10px;
  padding: 10px;
}

.background-image {
  background-repeat: no-repeat;
  width: 1000px;
  height: 600px;
  display: flex;
  margin: auto;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

#featured_tea {
  width: 1000px;
  align-content: center;
}

#featured_tea img {
  width: 300px;
}

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}
